* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dropdown-container {
    position: fixed;
    top: 10px; /* Adjust the top distance as needed */
    right: 10px; /* Adjust the right distance as needed */
    z-index: 2; /* Set a higher z-index */
  }
  
  .dropdown-content {
    display: flex;
    flex-direction: column; /* Display items vertically */
    position: absolute;
    top: 100%; /* Position dropdown content below the button */
    right: 0; /* Align with the right side of the button */
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1; /* Set a lower z-index */
}
  .dropdown-button {
    padding: 10px 14px;
    text-decoration: none;
    color: black;
    display: block;
    cursor: pointer;
  }

  .dropdown-button a {
    text-decoration: none !important; /* Remove underline */
    color: #333; /* Darker text color for better contrast */
  }

.nav-button {
    /* Your existing styles */
    background-color: #fff; /* Light grey color */
    color: #333; /* Darker text color for better contrast */
    padding: 10px 20px; /* Padding */
    font-size: 16px; /* Font size */
    border: none; /* Remove default border */
    border-radius: 5px; /* Add rounded corners */
    cursor: pointer;
  }
  
  .nav-button:hover {
    background-color: #f0f0f0; /* Slightly darker grey color on hover */
  }
  
  /* Additional styles for the open state if needed */
  .nav-button.open {
    background-color: #d8d5d5; /* Light grey color when open */
    color: #333; /* Darker text color when open */
  }
  

  .place-listing-button {
    position: fixed;
    border: none;
    z-index: 2; /* Set a higher z-index */
    border-radius: 5px; /* Add rounded corners */
    padding: 15px 30px; /* Increased padding for a larger button */
    display: block;
    left: 45%;
    top: 1%;
    cursor: pointer;
    background-color: #fff;
  }
  
  .place-listing-button:hover {
    background-color: #f0f0f0; /* Slightly darker grey color on hover */
  }
  
  h2 {
    font-size: 24px;
    color: #333;
  }
  
  .user-info {
    margin-bottom: 20px;
  }
  
  .user-info p {
    margin: 5px 0;
  }
  
  .service-list {
    list-style: none;
    padding: 0;
  }
  
  .service-list h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .service-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 15px;
    background-color: #fff;
  }
  
  .service-item button {
    margin-left: 10px;
    padding: 8px 12px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .service-item button:hover {
    background-color: #f0f0f0;
  }
  
  .success-message {
    color: #4caf50; /* Green color */
    background-color: #dff0d8; /* Light green background color */
    border: 1px solid #d6e9c6; /* Light green border color */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
  }

  /* Styles for error messages */
.error-message {
  color: #a94442; /* Red color */
  background-color: #f2dede; /* Light red background color */
  border: 1px solid #ebccd1; /* Light red border color */
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.home-button,
.home-button:link,
.home-button:visited {
  background-color: #fff; /* Light grey color */
  color: #333; /* Darker text color for better contrast */
  padding: 10px 20px; /* Padding */
  font-size: 16px; /* Font size */
  border: none; /* Remove default border */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer;
  text-decoration: none !important; /* Remove underline */
  height: 100%; /* Match the height of the navbar */
}

.home-button:hover {
  background-color: #f0f0f0; /* Slightly darker grey color on hover */
}

.home-button a {
  text-decoration: none !important; /* Remove underline */
  color: #333; /* Darker text color for better contrast */
}

.service-form {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 300px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Adjust the value as needed */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
}

.service-form button {
  margin-top: 10px; /* Add margin between the buttons */
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 14px;
  background-color: rgb(255, 255, 255); /* Dark background color */
  color: #fff; /* Text color */
}
