/* Reset default styles */
body, html {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

/* Root container styles */
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

/* Container for all services */
.all-services-container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  background-color: #f2f2f2;
  justify-content: space-around;
  overflow-y: hidden;
}

/* Container for the list of services */
.services-list-container {
  display: flex;
  flex-direction: column;
  list-style: none;
  flex: 1;
  max-width: 100%;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  background-color: #e6e6e6;
  overflow-y: auto;
}


.search-bar {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 2px;
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.3s ease; /* Add a smooth transition for the background color */
}

.search-bar:hover {
  background-color: #f0f0f0; /* Change the background color on hover */
}

/* Service card styles */
.service-card-content {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  background-color: #fff;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease;
  overflow: hidden;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  display: flex;
  flex-direction: column;
}

.service-card-content:hover {
  transform: scale(1.05); /* Increase the size on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a box shadow on hover */
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease;
  background-color: #f0f0f0; /* Change the background color on hover */
}

/* Headings inside service cards */
.service-card-content h2 {
  font-size: relative;
  margin-bottom: 10px;
  font-weight: bold;
}

/* Paragraphs inside service cards */
.service-card-content p {
  font-size: relative;
  color: #555;
  margin-bottom: 15px;
  line-height: 1.5;
}

.service-card-content a {
    text-decoration: none !important; /* Remove underline */
    color: #333; /* Darker text color for better contrast */
}


.service-card .service-card-price {
  position: absolute;
  bottom: 2px;
  right: 10px;
  font-size: relative;
  font-weight: bold;
  color: #333;
}

.service-card .service-card-price::before {
  content: '\20AC'; /* Euro sign */
  margin-right: 3px;
  font-size: relative;
}

.service-card-content .service-card-price::after {
  content: ' / hour';
  margin-left: 3px;
  font-size: relative;
}

/* Responsive styles for larger screens */
@media (min-width: 768px) {
  .service-card-content {
    flex-basis: calc(50% - 10px);
  }
}

@media (min-width: 1024px) {
  .service-card {
    flex-basis: calc(33.33% - 10px);
  }
}

/* Map container styles */
.service-map-container {
  flex: 3;
  width: 100%;
  height: 100vh;
}

.service-card-content {
  position: relative;
  size: relative;
}

.service-card-icon {
  position: absolute;
  right: 6px;
  cursor: pointer; /* Add this if you want the cursor to change on hover */
  color: rgba(255, 255, 255, 0.5); /* White color with 50% transparency */
}


/* Pagination styles */
.pagination {
  display: flex;
  margin: 0;
  padding: 0;
}

/* Pagination button styles */
.pagination button {
  background-color: #ddd;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  cursor: pointer;
  margin-right: 5px;
  padding: 8px 12px;
}

.pagination button:hover {
  background-color: #f0f0f0;
;
}
